# Python
__pycache__/

# Virtual Environment
.venv

# Secrets
.env

# User-specific files
tmp/

# Test coverage
.coverage
coverage.xml
.pytest_cache/

# Terraform
*.tfstate
*.tfstate.*
terraform.tgz
*.tfvars
*.tfplan
.terraform
.terraform.lock.hcl
terraform_backend.tf
