# Python
__pycache__/

# Virtual Environment
.venv

# Secrets
.env

# User-specific files
tmp/
temp/

# OS & IDE Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.vscode/

# Test coverage
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# Terraform
*.tfstate
*.tfstate.*
terraform.tgz
*.tfvars
*.tfplan
.terraform
.terraform.lock.hcl
terraform_backend.tf

# Local AI Configuration
.continue/rules/local/
